/* global */
*{
    font-family: Arial, Helvetica, sans-serif;
}

/* headaer menu*/
.logo-menu{
    font-size: 4rem;
    font-weight: 700;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

ul{
    display: flex;
    margin: 9px;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

ul li{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 25px;
    align-items: center;
    text-align: center;
    font: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

/* Imagem e Titulo da pagina */

.conteiner-banner-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 900px;
}

.img-h2{
    width: 445px;
    height: 575px;
}

.conteiner-h1{
    font-size: 7rem;
    position: relative;
}

.conteiner-h1::before{
    content: url(/assets/img/detalhe.svg);
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
    

}

.descricao{

    text-transform: capitalize;
    position: relative;
    left: 48px;
    font-size: 2rem;

}

/* Experiencia */


.experiencia{
    display: flex;
    padding: 80px 0 0 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.experiencia-2{
    position: relative;
    left: 261px;
}

.experiencia-h2 {
    font-size: 116px;
    text-transform: uppercase;
    display: flex;
    line-height: 127px;
    align-items: center;
    max-width: 520px;
    color: #bbbbbb;
}

.header-projetos{
    max-width: 640px;
    font-size: 24px;
    color: #5c5c5c;
    font-weight: 300;
    margin-bottom: 130px;
}
.projeto{
    display: flex;
    gap: 20px;
    margin: 0 0 25px 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#F5F5F5;
    padding: 20px;
    height: 245px;
    position: relative;
    box-shadow: -5px 10px 17px -8px grey;
}
.projeto::before{
    content: url(/assets/img/detalhe.svg);
    position: absolute;
    left: -60px;
    top: -56px;
    z-index: -2;
    font-size: 20px;
    rotate: 136deg;
}
.habilidade{
    height: auto;
}

.p-habilidade{
    font-size: 16px;
    max-width: 438px;
    text-align: start;
    font-weight: 400;
    color: #5c5c5c;
}

h5{
    font-size: 26px;
}

.nav-habilidade{
    display: flex;
    text-align: center;
    align-items: stretch;
    padding-top: 10px;
    
}

.nav-li{
    border: solid 1px rgba(0, 0, 0, 0.384);
    list-style: none;
    margin: 0 10px 0 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: white;
}

/* Formação  */

.formacao{
    display: flex;
    padding: 80px 0 0 0;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #141414;
    padding-bottom: 160px;
}
.p-formacao{
    max-width: 640px;
    font-size: 24px;
    color: #a3a3a3;
    font-weight: 300;
    margin-bottom: 130px;
    width: 500px;
}
.formacao-2 {
    width: 295px;
    position: relative;
    right: 297px;
}
.formacao-2::before{
    position: absolute;
    content: url(/assets/img/detalhe.svg);
    top: 194px;
    right: 160px;
    rotate: 44deg;
}
.box-formacao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 948px;
    justify-content: space-between;
    align-items: center;
}
.projeto-formacao{
    background: black;
    padding: 20px;
    width: 236px;
    height: 200px;
    display: grid;
    justify-content: center;

}
.formacao-h2 {
    font-size: 116px;
    text-transform: uppercase;
    display: flex;
    line-height: 127px;
    align-items: center;
    max-width: 520px;
    color: #bbbbbb;
    position: relative;
    right: 124px;
}


.h3-projeto{
    font-size: 24px;
    color:#939393;
}
.box-cursos-intensivos{
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    border: solid 1px gray;
    font-size: 24px;
    width: 948px;
    align-items: center;
    margin-top: 20px;
    padding: 13px;
}
.p-habilidade-f{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
span{
    color: #acacac;
}
.intensivo{
    color: rgb(168, 167, 167);
    margin-top: 30px;
}
.intensivo::before{
    content: url(/assets/img/cursos.svg);
    padding-right: 10px;
}
.idiomas{
    color: rgb(168, 167, 167);
    margin-top: 30px;
}
.idiomas::before{
    content: url(/assets/img/idiomas.svg);
    padding-right: 10px;
}
/* Footer */
#footer{
    height: 300px;
    background-color: #000000;
}

.box-conteudo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 200px;
    align-items: center;
}

.p-contato{
    font-size: 25px;
    max-width: 510px;
    color:#c4c4c4;
    position: relative;
    right: 240px;
}

.contato-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 26px;
    left: 452px;
}

.contato-1 a{
    text-decoration: none;
    color: #a7a7a7;
}

.direitos{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 25px;
    padding-top: 50px;
}






